name: Maven Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: |
          mvn clean install -Dtest=TodoServiceSumTest
          mvn clean install -Dtest=TodoServiceTest -PotherOutputDir
      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-result-junit
          path: target/surefire-reports/
      - name: Archive coverage results
        if: success() || failure()
        uses: actions/upload-artifact@v2
        with:
          name: coverage-artifact
          path: |
            coverage_demo
            target/site

